<h2>Por Pais</h2>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input 
        (onEnter)="buscar( $event )"
        (onDebounce)="sugerencias( $event )"
        placeholder="Buscar pais...">
        </app-pais-input>
    </div>
</div>

<hr>

<div *ngIf="error" class="alert alert-danger">
    No se encontro nada con el termino {{termino}}
</div>

<div *ngIf="country.length > 0" class="ro">
    <div class="col">
       <app-pais-tabla [country]="country"></app-pais-tabla>
    </div>
</div>